/*
Custom override
*/
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,900,500);
/* line 11, ../sass/garuda/style.scss */
body.html {
  font-family: 'Open Sans', sans-serif;
}

/* line 14, ../sass/garuda/style.scss */
body.admin-menu.navbar-is-fixed-top {
  padding-top: 0 !important;
}

/* line 17, ../sass/garuda/style.scss */
.topbar {
  background-color: #000;
  opacity: 0.5;
  /*float: left;*/
  width: 100%;
  height: 23px;
  /*padding: 4px 0;*/
}

/* line 25, ../sass/garuda/style.scss */
.font-nav-secondary, .menu.nav.navbar-nav.secondary li.first a, .menu.nav.navbar-nav.secondary li.last a {
  padding: 0 5px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
}

/* line 33, ../sass/garuda/style.scss */
.navbar-nav {
  margin: 0;
}

/* line 36, ../sass/garuda/style.scss */
.menu.nav.navbar-nav.secondary {
  display: inline-flex;
}

/* line 49, ../sass/garuda/style.scss */
.text-top {
  color: #ffffff;
  font-size: 13px;
}

/* line 54, ../sass/garuda/style.scss */
.navbar-collapse.collapse ul.menu {
  padding-left: 5%;
}
/* line 57, ../sass/garuda/style.scss */
.navbar-collapse.collapse ul.menu li a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
/* line 63, ../sass/garuda/style.scss */
.navbar-collapse.collapse ul.menu li a:hover {
  color: #f3b53d;
}

/* line 70, ../sass/garuda/style.scss */
.navbar {
  background: url("../images/header-top.jpg") no-repeat;
  text-transform: none;
  margin-bottom: 0;
}

/* line 78, ../sass/garuda/style.scss */
#navbar ul.menu li a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
/* line 84, ../sass/garuda/style.scss */
#navbar ul.menu li a:hover {
  color: #f3b53d;
}

/* line 91, ../sass/garuda/style.scss */
.navbar-header img {
  padding: 0 5px;
}

@media only screen and (max-width: 766px) {
  /* line 95, ../sass/garuda/style.scss */
  .collapsing, .in {
    background-color: #f1de93;
    padding-left: 5%;
  }

  /* line 96, ../sass/garuda/style.scss */
  .collapsing ul li a, .in ul li a {
    color: #ffffff !important;
    padding-left: 5%;
  }

  /* line 97, ../sass/garuda/style.scss */
  .collapsing ul li a:hover, .in ul li a:hover {
    color: #f3b53d !important;
  }
}
/* line 101, ../sass/garuda/style.scss */
.region.region-header p {
  font-size: 12px;
  color: #fff;
}

/* line 106, ../sass/garuda/style.scss */
.menu.nav.navbar-nav.secondary a {
  font-size: 12px;
}

/*
Highlighted main
*/
/* line 113, ../sass/garuda/style.scss */
.highlighted-main {
  background: url("../images/sun-cloud.jpg");
  height: 350px;
  color: #72491d;
  text-align: center;
  font-size: 24px;
  /*margin-top: 100px;*/
  font-family: 'Maven Pro', sans-serif;
}

/* line 123, ../sass/garuda/style.scss */
.region-highlighted p {
  margin-top: 10%;
  line-height: 40px;
}

/*
Page Top
*/
/* line 132, ../sass/garuda/style.scss */
.main-container {
  background-color: #f4f4f4;
}

/* line 135, ../sass/garuda/style.scss */
.page_top_style, #page_top1, #page_top2, #page_top3, #page_top4 {
  text-align: center;
}
/* line 137, ../sass/garuda/style.scss */
.page_top_style h2.block-title, #page_top1 h2.block-title, #page_top2 h2.block-title, #page_top3 h2.block-title, #page_top4 h2.block-title {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
/* line 142, ../sass/garuda/style.scss */
.page_top_style .block-image, #page_top1 .block-image, #page_top2 .block-image, #page_top3 .block-image, #page_top4 .block-image {
  padding: 10px 0;
}
/* line 144, ../sass/garuda/style.scss */
.page_top_style .block-image img, #page_top1 .block-image img, #page_top2 .block-image img, #page_top3 .block-image img, #page_top4 .block-image img {
  height: 95px;
}

/* line 149, ../sass/garuda/style.scss */
#page_top1 {
  background-color: #f3b53d;
}

/* line 154, ../sass/garuda/style.scss */
#page_top2 {
  background-color: #d70f81;
}

/* line 159, ../sass/garuda/style.scss */
#page_top3 {
  background-color: #32bba6;
}

/* line 164, ../sass/garuda/style.scss */
#page_top4 {
  background-color: #f05125;
}

/*
Gallery
*/
/* line 172, ../sass/garuda/style.scss */
.linked, #gallery1 .block.block-views .more-link, #gallery2 .block.block-views .more-link, #gallery3 .block.block-views .more-link, #page_bottom1 .region .view.view-article-block .more-link, #page_bottom2 .region .view.view-article-block .more-link, #page_bottom3 .region .view.view-article-block .more-link, #page_bottom4 .region .view.view-article-block .more-link, #page_bottom1 .more-link, #page_bottom2 .more-link, #page_bottom3 .more-link, #page_bottom4 .more-link {
  background-color: #ec2727;
  padding: 5px;
  right: 0;
  margin: 10px 0;
  float: right;
  bottom: 0;
}
/* line 179, ../sass/garuda/style.scss */
.linked a, #gallery1 .block.block-views .more-link a, #gallery2 .block.block-views .more-link a, #gallery3 .block.block-views .more-link a, #page_bottom1 .region .view.view-article-block .more-link a, #page_bottom2 .region .view.view-article-block .more-link a, #page_bottom3 .region .view.view-article-block .more-link a, #page_bottom4 .region .view.view-article-block .more-link a, #page_bottom1 .more-link a, #page_bottom2 .more-link a, #page_bottom3 .more-link a, #page_bottom4 .more-link a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

/* line 186, ../sass/garuda/style.scss */
.block-title-gallery, #gallery1 h2.block-title, #gallery2 h2.block-title, #gallery3 h2.block-title {
  font-family: 'Roboto', sans-serif;
  color: #7e7e7e;
  font-size: 25px;
}

/* line 191, ../sass/garuda/style.scss */
#gallery1 {
  margin: 30px 0;
  border-top: 10px solid #32bba6;
  text-align: center;
  background-color: #fff;
  -moz-box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
  -webkit-box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
  box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
}
/* line 200, ../sass/garuda/style.scss */
#gallery1 .block-image {
  padding: 10px 0;
}
/* line 203, ../sass/garuda/style.scss */
#gallery1 .block.block-views {
  margin: 0 15px;
  position: relative;
  height: auto;
  min-height: 350px;
}
/* line 208, ../sass/garuda/style.scss */
#gallery1 .block.block-views .view-content {
  text-align: justify;
}
/* line 210, ../sass/garuda/style.scss */
#gallery1 .block.block-views .view-content .views-row {
  margin: 15px 0;
}
/* line 211, ../sass/garuda/style.scss */
#gallery1 .block.block-views .view-content .views-row .views-field-body {
  font-family: 'Roboto', sans-serif;
}

/* line 222, ../sass/garuda/style.scss */
#gallery2 {
  margin: 30px 0;
  border-top: 10px solid #d70f81;
  text-align: center;
  background-color: #fff;
  -moz-box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
  -webkit-box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
  box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
}
/* line 231, ../sass/garuda/style.scss */
#gallery2 .block-image {
  padding: 10px 0;
}
/* line 234, ../sass/garuda/style.scss */
#gallery2 .block.block-views {
  margin: 3px 15px;
  height: auto;
  min-height: 350px;
}
/* line 238, ../sass/garuda/style.scss */
#gallery2 .block.block-views .view-content {
  padding-bottom: 15%;
}
/* line 240, ../sass/garuda/style.scss */
#gallery2 .block.block-views .view-content table.views-view-grid {
  margin-right: auto;
  margin-left: auto;
}

/* line 250, ../sass/garuda/style.scss */
#gallery3 {
  margin: 30px 0;
  border-top: 10px solid #f05125;
  text-align: center;
  background-color: #fff;
  -moz-box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
  -webkit-box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
  box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
}
/* line 259, ../sass/garuda/style.scss */
#gallery3 .block-image {
  padding: 10px 0;
}
/* line 262, ../sass/garuda/style.scss */
#gallery3 .block.block-views {
  margin: 5px;
  height: auto;
  min-height: 350px;
}
/* line 270, ../sass/garuda/style.scss */
#gallery3 .block.block-views .view-content .views-field-field-image {
  margin-bottom: 15px;
}
/* line 273, ../sass/garuda/style.scss */
#gallery3 .block.block-views .view-content .views-field-title {
  text-align: left;
}
/* line 276, ../sass/garuda/style.scss */
#gallery3 .block.block-views .view-content .views-field-body {
  text-align: left;
}

/*
Main Content
*/
/* line 288, ../sass/garuda/style.scss */
.region-sidebar-first #block-system-navigation h2.block-title {
  font-family: 'Roboto', sans-serif;
}

/* line 294, ../sass/garuda/style.scss */
.region-content h2 a {
  font-family: 'Roboto', sans-serif;
}

/*
Page Bottom
*/
/* line 303, ../sass/garuda/style.scss */
#page_bottom1, #page_bottom2, #page_bottom3, #page_bottom4 {
  border-top: 5px solid #28a9e0;
  background-color: #fff;
  -moz-box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
  -webkit-box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
  box-shadow: rgba(128, 128, 128, 0.2) 1px 1px 8px 5px;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 20px;
}
/* line 311, ../sass/garuda/style.scss */
#page_bottom1 .region h2.block-title, #page_bottom2 .region h2.block-title, #page_bottom3 .region h2.block-title, #page_bottom4 .region h2.block-title {
  color: #28a9e0;
  text-align: center;
  font-size: 16px;
  background: url("../images/line-body.png") no-repeat;
  opacity: 0.5;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}
/* line 320, ../sass/garuda/style.scss */
#page_bottom1 .region .view.view-article-block, #page_bottom2 .region .view.view-article-block, #page_bottom3 .region .view.view-article-block, #page_bottom4 .region .view.view-article-block {
  position: relative;
}
/* line 322, ../sass/garuda/style.scss */
#page_bottom1 .region .view.view-article-block .view-content, #page_bottom2 .region .view.view-article-block .view-content, #page_bottom3 .region .view.view-article-block .view-content, #page_bottom4 .region .view.view-article-block .view-content {
  min-height: 870px;
  height: auto;
}
/* line 326, ../sass/garuda/style.scss */
#page_bottom1 .region .view.view-article-block .view-content h2 a, #page_bottom2 .region .view.view-article-block .view-content h2 a, #page_bottom3 .region .view.view-article-block .view-content h2 a, #page_bottom4 .region .view.view-article-block .view-content h2 a {
  color: #2980b9;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 10;
}
/* line 333, ../sass/garuda/style.scss */
#page_bottom1 .region .view.view-article-block .view-content .content, #page_bottom2 .region .view.view-article-block .view-content .content, #page_bottom3 .region .view.view-article-block .view-content .content, #page_bottom4 .region .view.view-article-block .view-content .content {
  text-align: justify;
}

/* line 347, ../sass/garuda/style.scss */
#page_bottom1 .block.block-block {
  height: auto;
  min-height: 955px;
}
/* line 350, ../sass/garuda/style.scss */
#page_bottom1 .block.block-block .block-title {
  margin-bottom: 55px;
}

/*
Footer Top
*/
/* line 358, ../sass/garuda/style.scss */
.grey-footer {
  background-color: #353535;
  -moz-box-shadow: black 0 0 10px inset;
  -webkit-box-shadow: black 0 0 10px inset;
  box-shadow: black 0 0 10px inset;
}

/* line 362, ../sass/garuda/style.scss */
.footer {
  border: none;
  padding-bottom: 0;
}
/* line 365, ../sass/garuda/style.scss */
.footer h2.block-title {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

/* line 372, ../sass/garuda/style.scss */
.footer_top, #footer_top1 .region-footer-top1, #footer_top2 .region-footer-top2, #footer_top3 .region-footer-top3, #footer_top4 .region-footer-top4 {
  color: #7b7b7b;
  margin-top: 10px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

/* line 380, ../sass/garuda/style.scss */
#footer_top1 .region-footer-top1 {
  border-top: 5px solid #d70f81;
}

/* line 386, ../sass/garuda/style.scss */
#footer_top2 .region-footer-top2 {
  border-top: 5px solid #fcb315;
}

/* line 392, ../sass/garuda/style.scss */
#footer_top3 .region-footer-top3 {
  border-top: 5px solid #32bba6;
}

/* line 398, ../sass/garuda/style.scss */
#footer_top4 .region-footer-top4 {
  border-top: 5px solid #f05125;
}

/* line 403, ../sass/garuda/style.scss */
.block:first-child h2.block-title {
  margin-top: 10px;
}

/*
Footer
*/
/* line 410, ../sass/garuda/style.scss */
.line-foot {
  background-image: url("../images/line-footer.png");
  height: 47px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 6% 0;
}
/* line 416, ../sass/garuda/style.scss */
.line-foot img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

/* line 423, ../sass/garuda/style.scss */
.region-footer {
  text-align: center;
}
/* line 425, ../sass/garuda/style.scss */
.region-footer .block-imageblock {
  display: inline-block;
  padding: 0 5px;
  height: 32px;
}

/* line 433, ../sass/garuda/style.scss */
#footer .region-footer img {
  height: 32px;
}

/*
Copyright
*/
/* line 442, ../sass/garuda/style.scss */
#copyright {
  text-align: center;
  padding: 30px 0;
  color: #7b7b7b;
}
/* line 446, ../sass/garuda/style.scss */
#copyright a {
  font-size: 15px;
  color: #7b7b7b;
}
