/*
Custom override
*/
$test-border : 2px solid red;
body.admin-menu.navbar-is-fixed-top{
  padding-top: 0!important;
}
.topbar{
  background-color: #000;
  opacity: 0.5;
  float: left;
  width: 100%;
  height: 23px;
  padding: 4px 0;
}
.menu.nav.navbar-nav.secondary{
  display: inline-flex;
  li.first {    a{
      padding: 0 5px;
      color: #fff;
    }
  }
  li.last {
    a{
      padding: 0 5px;
      color: #fff;
    }
  }
}
.text-top{
  color: #fff;
  font-size: 13px;
}
.navbar-collapse.collapse{
  ul.menu{
    padding-left: 5%;
    li{
      a{
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
          color: #f3b53d;
        }
      }
    }
  }
}
.navbar{
  text-transform: none;
  margin-bottom: 0;
}
#navbar{
  ul.menu{
    li{
      a{
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
          color: #f3b53d;
        }
      }
    }
  }
}
.navbar-header img{
  padding: 0 5px;
}
.navbar-full{
  background: url('header-top.jpg') no-repeat;
  clear: both;
}
@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #f1de93;padding-left: 5%;}
.collapsing ul li a, .in ul li a {color: #ffffff!important;padding-left: 5%;}
.collapsing ul li a:hover, .in ul li a:hover {color: #f3b53d!important;}
}

.region.region-header{
  p{
    font-size: 12px;
    color: #fff;
  }
}
.menu.nav.navbar-nav.secondary a{
  font-size: 12px;
}

/*
Highlighted main
*/
.highlighted-main{
  background: url('sun-cloud.jpg');
  height: 350px;
  color: #72491d;
  text-align: center;
  font-size: 22px;
}
.region-highlighted{
  p{    margin-top: 10%;
    line-height: 40px;
  }
}

/*
Page Bottom
*/
#page_bottom1,#page_bottom2,#page_bottom3,#page_bottom4{
  border-top: 5px solid #28a9e0;
  background-color: #fff;
  -moz-box-shadow:    1px 1px 10px 2px #ccc;
  -webkit-box-shadow: 1px 1px 10px 2px #ccc;
  box-shadow:         1px 1px 10px 2px #ccc;
  padding: 10px;
  font-size: 12px;
  height: auto;
  min-height: 930px;
  .region{
    h2.block-title{
      color: #28a9e0;
      text-align: center;
      font-size: 16px;
      background: url('line-body.png') no-repeat;
      opacity: 0.5;
      background-position: center;
    }
    .view{
      position: relative;
      min-height: 870px;
      height: auto;
      .view-content{
        h2{
          a{
            color: #2980b9;
            font-size: 13px;
          }
        }
        .content{
          text-align: justify;
        }
      }
      .more-link{
        background-color: #ec2727;
        padding: 5px;
        right: 0;
        margin: 10px 0;
        position: absolute;
        bottom: 0;
        a{
          color: #fff;
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
}

/*
Footer Top
*/
.grey-footer{
  background-color: #353535;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
.footer{
  border: none;
  padding-bottom: 0;
  h2.block-title{
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
  }
}
#footer_top1{
  .region-footer-top1{
    border-top: 5px solid #d70f81;
    color: #7b7b7b;
    margin-top: 10px;
    text-align: justify;
  }
}
#footer_top2{
  .region-footer-top2{
    border-top: 5px solid #fcb315;
    color: #7b7b7b;
    margin-top: 10px;
    text-align: justify;
  }
}
#footer_top3{
  .region-footer-top3{
    border-top: 5px solid #32bba6;
    color: #7b7b7b;
    margin-top: 10px;
    text-align: justify;
  }
}
#footer_top4{
  .region-footer-top4{
    border-top: 5px solid #f05125;
    color: #7b7b7b;
    margin-top: 10px;
    text-align: justify;
  }
}
.block:first-child h2.block-title{
  margin-top: 10px;
}

/*
Footer
*/
.line-foot{
  background-image: url('line-footer.png');
  height: 47px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 6% 0;
  img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
}

/*
Copyright
*/
#copyright{
  text-align: center;
  padding: 30px 0;
  color: #7b7b7b;
  a{
    font-size: 15px;
    color: #7b7b7b;
  }
}
